@media only screen and (min-width: 768px) and (max-width: 1024px) {
  //nav
  .navbar {
    //burger placement
    label {
      margin: 1.5em -6em 0em 0em;
      //burger style
      i {
        height: 0.2em;
        width: 1.5em;
        &:before {
          top: 6px;
        }
        &:after {
          top: -6px;
        }
      }
    }
  }
  //Header content
  .header__container {
    header {
      //header name
      .header__name {
        font-size: 3em;
      }
      //header bread text
      .header__description {
        font-size: 1.5em;
        margin-top: -1.5em;
      }
       //header socials
      .header__list {
        .header__links {
          img {
            width: 30px;
            height: auto;
          }
        }
      }
    }
  }
 //previous experience and projects
  .work__container {
    .work__content {
      //white text on pictures
      a {
        font-size: 1em;
      }
      //image positioning in div
      img {
        height: auto;
      }
    }
  }
  //About page
  .about__container {
    .about__section {
       //about name
      .about__name {
        font-size: 3.5em;
      }
      //about description
      .about__description {
        font-size: 1.4em;
      }
    }
      //social links on about page
  //social links placement
    .social__section {
      font-size: 1.4em;
      .social__content {
        width: 50%;
          //social links
        .social__links {
          img {
            width: 35px;
            height: auto;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1281px) {
  .navbar {
    //burger placement
    label {
      margin: 2em -8em 0em 0em;
      //burger style
      i {
        height: 0.25em;
        width: 2em;
        &:before {
          top: 8px;
        }
        &:after {
          top: -8px;
        }
      }
    }
  }
  //navbar design
  .navbar nav {
    li {
      padding: 1.5em 0;
      font-size: 6em;
    }
  }
  //Header content
  .header__container {
    header {
      .header__name {
        font-size: 4em;
      }
      .header__description {
        font-size: 2em;
      }
      .header__list {
        .header__links {
          img {
            width: 40px;
          }
        }
      }
    }
  }
  //Work/experience
  .work__container {
    .work__content {
      a {
        font-size: 1.5em;
      }
    }
  }

  //About page
  .about__container {
    .about__section {
      .about__name {
        font-size: 5em;
      }
      .about__description {
        font-size: 1.8em;
      }
    }
      //social links on about page
  //social links placement
    .social__section {
      font-size: 1.75em;
      .social__content {
        width: 45%;
         //social links
        .social__list {
          margin-top: -3%;
          .social__links {
            img {
              width: 45px;
              height: auto;
            }
          }
        }
      }
    }
  }
}
